body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}
section {
  position: relative;
  width: 640px;
  margin: 50px auto;
}section {
  position: relative;
  width: 640px;
  margin: 50px auto;
}
nav {
  width: 100%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  width: 160px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: rgba(255, 255, 255, 0);
  color: #fff;
  padding: 10px 0;
  margin: -1px -5px -1px -1px;
}
nav ul li:hover {
  /*border:1px dashed #fff;*/
  background: rgba(255, 255, 255, .1);
}
nav ul {
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  padding: 0;
  z-index: 100;
}
nav div {
  position: absolute;
  left: 0;
  top: 16px;
  background: #fff;
  width: 162px;
  height: 40px;
  z-index: 99;
}
.active {
  color: rgba(55, 186, 177, 1);
}
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="submit"] {
  background: #28d
}